<div class="container">
	<main>
		<h1>Register Form</h1>
		<div class="form">
			<form action="/register" method="POST">
				<div>
					<label for="username">Username</label>
					<input
						type="text"
						id="username"
						name="username"
						value="{{username}}"
					/>
				</div>
				<div>

					<label for="password">Password</label>
					<input
						type="password"
						id="password"
						name="password"
						value="{{password}}"
					/>
				</div>
				<div>

					<label for="repeatPassword">Re-Password</label>
					<input
						type="password"
						id="repeatPassword"
						name="repeatPassword"
						value="{{repeatPassword}}"
					/>
				</div>
				<input type="submit" value="Register" />
			</form>
		</div>
	</main>
</div>
<footer>@Cubicle: Exercise for Express.js and Handlebars</footer>